# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


Temporary Items
.apdisk
*.bak
*.sav

TeX/LaTeX/Figures/*.jpg
TeX/LaTeX/Figures/*.eps

*.aux
*.bbl
*.blg
*.dvi
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.bak
*.synctex
*.toc
*.pdf
*.prj

*.jpg
*.eps
*.pdf