# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


Temporary Items
.apdisk
*.bak
*.sav

TeX/LaTeX/Figures/*.jpg
TeX/LaTeX/Figures/*.eps

TeX/LaTeX/leaddress.sty
TeX/LaTeX/leaddress.sty

Installation and Usage/*.aux
Installation and Usage/*.bbl
Installation and Usage/*.blg
Installation and Usage/*.dvi
Installation and Usage/*.idx
Installation and Usage/*.ilg
Installation and Usage/*.ind
Installation and Usage/*.lof
Installation and Usage/*.log
Installation and Usage/*.lot
Installation and Usage/*.out
Installation and Usage/*.bak
Installation and Usage/*.synctex
Installation and Usage/*.toc
Installation and Usage/*.pdf
Installation and Usage/*.prj

Installation and Usage/Figures/*.jpg
Installation and Usage/Figures/*.eps
Installation and Usage/Figures/*.pdf